<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Be-Spoke Bikes - Home</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	</head>

	<body>

		<div class="container home-header">
			<h1>Be-Spoke</h1>
			<h2>The wheely good bike shop</h2>
		</div>/

		<div class="container">
			<a class="img-responsive billboard" href="/static_pages/landing_page" ><%= image_tag("bicycle-landingpage-image.jpg") %></a>
		</div> <!-- end container -->

	</body>